.resume-links {
    text-align: center;
}

.resume-links a {
    display: block;
}

h2 {
    border-bottom: 2px solid black;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

h3 {
    margin: 0.5rem 0;
}

h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}
