.site {
    margin: 0;
    font-family: 'Helvetica', 'Segoe UI', Tahoma, Verdana, sans-serif;
    overscroll-behavior: none;
}

/* Begin header styles */

svg.header_content__logo {
    fill: inherit;
    stroke: inherit;
    width: 100px;
    height: 50px;
    user-select: none;
    margin-bottom: 1px;
    margin: 10px;
}

svg #C {
    font: 100px sans-serif;
    animation: spin 1s 0.5s ease;
    transition: fill 0.3s;
    transition: stroke 0.3s;
}
 
svg #I {
    font: bold 61px sans-serif;
    transition: fill 0.3s;
    transition: stroke 0.3s;
}

header {
    background-color: orange;
    position: sticky;
    top: 0;
    width: 100vw;
    box-shadow: 0 0 0.4em 0 grey;
}

header a, footer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.mobile_wrapper {
    margin: 0px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header__name {
    font-weight: bold;
    font-size: 16pt;
}

#header__position {
    display: none;
    color: white;
}

.home_group {
    order: 1;
    display: flex;
    align-items: center;
    color: white;
    stroke: white;
    fill: white;
}

.home_group:hover #I, .home_group:hover #name_I {
    fill: blue;
    stroke: blue;
    color: blue;
    transition: fill 1s;
    transition: color 1s;
}

.home_group:hover #C, .home_group:hover #name_C {
    fill: red;
    stroke: red;
    color: red;
    transition: fill 1s;
    transition: color 1s;
}

#name_I, #name_C {
    transition: color 0.3s;
}

.home_group__name {
    margin-left: 10px;
}

#main_nav {
    background-color: grey;
}

#main_nav ul.hidden {
    max-height: 0;
    overflow: hidden;
}

#main_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    max-height: 100vh;
}

#main_nav li:first-of-type {
    border-top: 1px solid #444444;
}

#main_nav li {
    border-bottom: 1px solid #444444;
    text-align: center;
    padding: 10px;
}

#main_nav a.active {
    color: green;
}

#main_nav a:hover {
    color: #999999;
}

#mobile_menu_button {
    color: white;
    border: none;
    margin: 5px;
    padding: 0;
    background-color: inherit;
    max-height: 60px;
    order: 2;
    cursor: pointer;
}

#mobile_menu_button svg {
    height: 50px;
    width: 50px;
}

#mobile_menu_button svg:hover {
    color: #999999;
    transition: color 0.3s;
}

@media screen and (min-width: 450px) {

    #header__position {
        display: block;
    }
}

@media screen and (min-width: 750px) {
    
    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: auto;
    }

    #mobile_menu_button {
        display: none;
    }

    #main_nav {
        background-color: inherit;
        margin-right: 10px;
    }

    #main_nav ul.hidden {
        display: block;
        max-height: 100vh;
    }

    #main_nav li {
        display: inline;
        border: none;
    }

    #main_nav li:first-of-type {
        border: none;
    }

    #main_nav a {
        display: inline-block;
        padding: 10px 0px;
    }

    #main_nav a.active {
        color: blue;
    }

    #main_nav a.active:hover {
        color: #444444;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: 50% 50%;
    }
}
/* End header styles */

article {
    min-height: calc(100vh - 15em);
    padding: 1.2em;
    line-height: 1.7em;
    max-width: 700px;
    margin: 2em auto;
    /* border: 0.5em dashed black; */
}

article h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1em;
    padding: 0.5em 1em 1em 1em;
    margin: 0.5em;
}

.top_link {
    text-align: center;
}

/* Begin footer styles */
footer {
    width: 100vw;
    background-color: darkorchid;
    color: white;
    text-align: center;
    box-shadow: 0 0 0.3em 0 grey;
}

footer nav ul {
    list-style: none;
    font-size: 1.1em;
    padding: 0;
    margin: 0.5em 0;
}

footer nav li {
    padding: 0.5em;
}

footer a:hover {
    color: hsla(0, 0%, 70%, 1);
}

#copyright {
    padding: 0.5em;
}

@media screen and (min-width: 500px) {
    footer nav li {
        display: inline-block;
    }
}
/* End footer styles */

/* Begin home styles */
a.home_link {
    background-color: hsla(360, 100%, 50%, 1);
    transition: background-color 0.5s;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
}

a.home_link:hover {
    background-color: hsla(360, 100%, 25%, 1);
}

section.home_section {
    text-align: center;
    background-color: #eeeeee;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_content .project {
    margin: 0.5em;
}

@supports (grid-area: auto) {
    @media screen and (min-width: 1000px) {
        article.home_content {
            max-width: 1050px;
            display: grid;
            grid-template-columns: 35em 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "top top"
                "left right_top"
                "left right_bottom";
        }

        #section_1 {
            grid-area: top;
        }

        #section_2 {
            grid-area: left;
        }

        #section_3 {
            grid-area: right_top;
        }

        #section_4 {
            grid-area: right_bottom;
        }
    }
}
/* End home styles */

/* Begin project styles */
.project {
    text-align: center;
    border: 1px dashed grey;
    margin-top: 2em;
    margin-bottom: 2em;
}

.project figure {
    margin-left: 1em;
    margin-right: 1em;
}

.project iframe {
    width: 100%;
    height: 25em;
    max-height: 65vh;
}
/* End project styles */

/* Begin testimonial styles */
blockquote {
    background-color: #cccccc;
    padding: 2em;
    text-align: center;
}

blockquote .quote_mark {
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    margin-top: 1em;
}

blockquote cite {
    display: block;
    text-align: end;
}

/* End testimonial styles */

/* Begin contact styles */
.links_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
}

.link img {
    min-width: 21px; /* To comply with LinkedIn trademark policies */
    max-width: 3em;
    margin-right: 1em;
}
/* End contact styles */

.skip-to-content-link {
    background-color: orange;
    height: 2em;
    left: 0;
    top: 5vh;
    z-index: 9999;
    padding: 0.5em;
    position: absolute;
    transform: translateY(-100vh);
  }
  
  .skip-to-content-link:focus {
    transform: translateY(0vh);
  }